.buyContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.sellContainer {
  display: flex;
  gap: 10px;
}

.balanceContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.accountInfo {
  display: flex;
  gap: 10px;
}

.footerContainer {
  display: flex;
  gap: 10px;
}
